
allow xiaomiparts_app {
   media_session_service
   storagestats_service
}:service_manager find;

allow xiaomiparts_app {
  sysfs_leds
}:file rw_file_perms;
